
{% extends 'base.html.twig' %}
 {% block stylesheets %}
 <link rel="stylesheet" href="{{ 'css/home.css' }}">
 <link rel="stylesheet" href="{{ 'css/news.css' }}">
 {% endblock %}
{% block body %}
<main class="wrapper">
    <div class="news">
       
    </div>
</main
{% block javascripts %}
<script src="{{ 'js/news.js' }}"></script>
{% endblock %}

{% endblock %}
