{% extends 'base.html.twig' %}
 {% block stylesheets %}
 <link rel="stylesheet" href="{{ '/css/form.css' }}">
 <link rel="stylesheet" href="{{ '/css/search.css' }}">
 {% endblock %}

{% block body %}
<main class="wrapper">
    <section class="form marge">
    <p>
        Si un compte correspond, un email vous a été envoyé à l'adresse mail renseigné.
        Cet email contient un lien que vous pourrez utiliser pour réinitialiser votre mot de passe.
        Le lien expirera dans {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
   
    </p>
    <p>
        Si vous ne recevez aucun email, vérifiez votre dossier spam ou <a href="{{ path('app_forgot_password_request') }}">rééssayez</a>.
    </p>
    </section>
</main>
{% endblock %}
