@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    background-color: #7A7A7A;
}

a:link {
    text-decoration: none;
  }
  
  a:visited {
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: none;
  }
  
  a:active {
    text-decoration: none;
  }
/****************** HEADER START  ************************/


/****************** NAV START  ************************/
header{
    background-color: #0065DB;
    top: 0;
    right: 0;
    width: 100%;
    border-bottom: 0.1em solid black;
}

.logo{
    width: 5em;
    font-size: 20px;
}
/* Navbar */
#menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    border-bottom: 0.1em solid black;
}

#menu-links a{
    color: #fff;
    margin-left: 0.5em;
    display: inline-block;
    font-size: 20px;
}

#burger{
    color: #fff;
    display: none;
    padding: 0.3em 0.3em 0.2em 0.3em;
    border: 2px solid #fff;
    font-size: 1.5em;
    min-width: 52px;
    text-align: center;
    cursor: pointer;
}

.side-spaced{
    padding: 1em 6em;
}

/****************** NAV END  ************************/

/***************** SEARCH BAR ***********************/

.search_bar{
    width: 80%;
    margin: auto;
    background-color: #7A7A7A;
    color: white;
    position: relative;
}

.search_bar>form>input{
    width: 100%;
}

/***************** HEADER END **************************/

.wrapper{
    max-width: 90%;
    margin: auto;
}

/****************** FOOTER ****************************/
footer{
background-color: black;
margin: 0;
bottom: 0;
}